/*==================
  DASAR WEBSITE   
  ==================*/

  body {
    background-color: #fff0f6;
    color: #4a3040;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

  /*=================
    HEADER
    =================*/

    header {
        background-color: #f7b6d2;
        text-align: center;
        padding: 30px;
    }

    header h1 {
        color: #8f315b;
    }

    /*=====================
      HIASAN HEADER
      =====================*/

      header::before {
        content: 💞;
        position: absolute;
        left: 10%;
        top: 20px;
        font-size: 80px;
        color: rgba(255, 255, 255, 0.3);
      }

      header::after {
        content: 💞;
        position: absolute;
        left: 10%;
        top: 20px;
        font-size: 80px;
        color: rgba(255, 255, 255, 0.3);
      }


  /*=======================
    NAVIGASI
    =======================*/

    nav {
       background-color: #8f315b;
       text-align: center;
       padding: 15px;

       display: flex;
       justify-content: center;
       align-items: center;
       gap: 30px;
    }

    nav a {
      color: white;
      text-decoration: none;
      font-weight: bold;
    }

    nav a:hover {
      color: #ffd6e7;
    }


    /*===================
      ISI UTAMA
      ===================*/

      main {
        max-width: 1000px;
        margin: auto;
        padding: 30px;
      }

      section {
        background-color: white;
        margin-bottom: 30px;
        padding: 25px;
        border-radius: 15px;
      }

      /*==================
        JUDUL
        ==================*/

        h2 {
          color: #a83f6d;
        }

        /*=================
          GAMBAR
          =================*/

          section img {
            border-radius: 12px;
            margin: 5px;
          }

        /*==================
          GALLERY
          ==================*/

           #home {
            text-align: center;
          }
          
          #home img {
            width: 200px;
            height: 250px;
            object-fit: cover;
          }

          #home img:hover {
            transform: scale(1.05);
          }

          #gallery {
            text-align: center;
          }
          
          #gallery img {
            width: 200px;
            height: 250px;
            object-fit: cover;
          }

          #gallery img:hover {
            transform: scale(1.05);
          }

          /*====================
            ABOUT
            ====================*/ 

          #about li {
            margin-bottom: 8px;
          }

          /*======================
            FOOTER
            ======================*/

          footer {
            background-color: #8f315b;
            color: white;
            text-align: center;
            padding: 20px;
          }

          .gallery-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            flex-wrap: wrap;
          }
          /*========================
            SIDEBAR
            ========================*/

            .sidebar {
              background-color: #f7b6d2;
              width: 200px;
              padding: 20px;
              border-radius: 15px;
              float: left;
              margin-right: 25px;
            }

            .sidebar h3 {
              color:#8f315b;
            }

            .sidebar p {
              font-size: 14px;
            }

            .sidebar a {
              display: block;
              color: #8f315b;
              text-decoration: none;
              margin: 10px 0;
              font-weight: bold;
            }

            .sidebar a:hover{
              color: #ffffff;
            }
